{{page-title "TestApp"}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<Page::Header::Container />
<Page::Sidebar::Container />

<Page::Header>
    Test
</Page::Header>

<Page::Sidebar>
    Test
</Page::Sidebar>
<LinkTo @route="parent">Parent LinkTo</LinkTo>